{% extends "layout.html" %} {% block pagetitle %}Nutrometer{% endblock %} {% block bodycontent %}

<section class="hero-section set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="register-text">
                    <div class="section-title">
                        <h2>New User Registration</h2>
                    </div>
                    <form action="/register" class="register-form" method="POST">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <!-- <div class="form-group"> -->
                            {{ form.username.label(class="form-control-label") }} {% if form.username.errors %} {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.username(class="form-control form-control-lg") }} {% endif %} {{ form.password.label(class="form-control-label") }} {% if form.password.errors %} {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.password(class="form-control form-control-lg") }} {% endif %} {{ form.confirm_password.label(class="form-control-label") }} {% if form.confirm_password.errors %} {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.confirm_password(class="form-control form-control-lg") }} {% endif %} {{ form.first_name.label(class="form-control-label") }} {% if form.first_name.errors %} {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.first_name.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.first_name(class="form-control form-control-lg") }} {% endif %} {{ form.last_name.label(class="form-control-label") }} {% if form.last_name.errors %} {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.last_name.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.last_name(class="form-control form-control-lg") }} {% endif %} {{ form.gender.label(class="form-control-label") }} {% if form.gender.errors %} {{ form.gender(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.gender(class="form-control form-control-lg") }} {% endif %} {{ form.date_of_birth.label(class="form-control-label") }} {% if form.date_of_birth.errors %} {{ form.date_of_birth(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.date_of_birth.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.date_of_birth(class="form-control form-control-lg") }} {% endif %} {{ form.height.label(class="form-control-label") }} {% if form.height.errors %} {{ form.height(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.height.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.height(class="form-control form-control-lg") }} {% endif %} {{ form.weight.label(class="form-control-label") }} {% if form.weight.errors %} {{ form.weight(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.weight.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.weight(class="form-control form-control-lg") }} {% endif %} {{ form.physical_activity_level.label(class="form-control-label") }} {% if form.physical_activity_level.errors %} {{ form.physical_activity_level(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.physical_activity_level.errors %}
                                <span>{{ error }}</span> {% endfor %}
                            </div>
                            {% else %} {{ form.physical_activity_level(class="form-control form-control-lg") }} {% endif %}

                            <button type="submit" class="register-nut">Sign Up</button>
                            <a href="./index.html">
                                <div class="register-nut-back">Home</div>
                            </a>
                        </fieldset>

                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- <div class="register-pic">
                  <img src="img/register-pic.jpg" alt="">
              </div> -->
            </div>
        </div>
    </div>
</section>

{% endblock %}



