[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
flask = "*"
sqlalchemy = "*"
pymysql = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
update = "*"

[requires]
python_version = "3.7"
