
{% extends "layout.html" %}
{% block pagetitle %}Nutrometer{% endblock %}
{% block bodycontent %}



  <section class="hero-section" data-setbg="../static/images/food.jpg">
   
  </section>
  <section class="visual-section">
    <div class="row">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form>
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter a Date</label>
                      <input class="form-control" id="datetime" type="text" placeholder="1/11/2011">
                    </li>
                    <li class="filter list-group-item">
                      <label for="nutrient">Select Nutrients</label>
                      <select id="selectnutrients">                                         
                      </select>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id ="plot">
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>
 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/JS/data_dri_macronutrients.js"></script>
  <script src="../static/JS/data_dri_minerals.js"></script>
  <script src="../static/JS/data_dri_vitamins.js" ></script>
  <script src="../static/JS/Required_data_calculate.js" ></script>
  <script src="../static/JS/userdata.js" ></script>
  <script src="../static/JS/plot.js" ></script>
  <script src="../static/JS/vizualization.js" ></script>




  


  {% endblock %}

