
{% extends "layout.html" %}
{% block pagetitle %}Nutrometer{% endblock %}
{% block bodycontent %}



  <section class="hero-section" data-setbg="../static/images/food.jpg">
   
  </section>
  <section class="visual-section">
    <div class="row">
      <div class="col-md-2">
        <aside class="filters">
          <div class="panel panel-default">
            <div class="panel-heading">Filter Search</div>
            <div class="panel-body">
              <form action = "" target="_blank" method="GET">
                <div class="form-group">
                  <ul class="list-group" id="filters">
                    <li class="filter list-group-item">
                      <label for="date">Enter a Date</label>
                      <!-- <input class="form-control" id="datetime" name="date" type="text" placeholder="1/11/2011"> -->
                      <input type="date" id="inputdate" name="date">
                    </li>
                    <li class="filter list-group-item">
                      <button type="submit" class="register-btn" id="button" >Plot</button>
                  </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </aside>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div id ="plot1">
                      
                                
            </div>
            <p style=”padding-bottom: 2ex; “></p>
            <div id ="plot2">
                      
                                
            </div>
            <p style=”padding-bottom: 2ex; “></p>
            <div id ="plot3">
                      
                                
            </div>
          </div>
        </div>  
      </div>
    </div>
  </section>
 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> 
  <script type="text/javascript">

    var graphs = {{graphJSON | safe}}
    var ids = {{ids | safe}};
   
    for(var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
                    graphs[i].data,
                    graphs[i].layout || {});
    }
  </script>

  {% endblock %}

