
{% extends "layout.html" %}
{% block pagetitle %}Dashboard{% endblock %}
{% block bodycontent %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<section class="hero-section set-bg">
    <div class="container">
        <div class="row-sm">
            <div class="section-title register-text">
                <h4>Today's Statistics</h4>
                <table class="table table-dark" id="diary-table">


                    <thead>                  
                        <tr>
                          <th scope="col"></th> </th>
                          <th scope="col">Calories (kcal)</th>
                          <th scope="col">Carbs (g)</th>
                          <th scope="col">Total Fat (% kcal)</th>
                          <th scope="col">Sodium (mg)</th>
                          <th scope="col">Added Sugars (g)</th>
                          <th scope="col">Fiber (g)</th>                      
                        </tr>
                    </thead>
              
                    <tbody>
                    <!-- Code -->
                    
                        <tr>
                            <th scope="row">Totals</th>

                            <td>{{(daily_stats.cal)}}</td>
                            <td>{{(daily_stats.carbs)}}</td>
                            <td>{{(daily_stats.fats)}}</td>
                            <td>{{(daily_stats.sodium)}}</td>
                            <td>{{(daily_stats.sugar)}}</td>
                            <td>{{(daily_stats.fiber)}}</td>

                        </tr> 
                   
                                 
                          
                     <tr>
                        <th scope="row">Remaining</th>

                             <td>{{ (daily_goal_list[0] - results[0]) }} </td>
                            <td>{{ (daily_goal_list[1] - results[1]) }}</td>
                            <td>{{ (daily_goal_list[2] - results[2]) }}</td>
                            <td>{{ (daily_goal_list[3] - results[3]) }}</td>
                            <td>{{ (daily_goal_list[4] - results[4]) }}</td>
                            <td>{{ (daily_goal_list[5] - results[5]) }}</td>

                    </tr> 

                    <tr>
                        <th scope="row">Your daily goal</th>
                             <td>{{ daily_goal_list[0] }} </td>
                            <td>{{ daily_goal_list[1]  }}</td>
                            <td>{{ daily_goal_list[2]  }}</td>
                            <td>{{ daily_goal_list[3]  }}</td>
                            <td>{{ daily_goal_list[4]  }}</td>
                            <td>{{ daily_goal_list[5]  }}</td>
                    </tr> 
              
                  </tbody>
              
                  
                </table>

                

            </div>

        </div>
        <div class="row-sm">
            <div class="section-title register-text">
                <div class="section-title">
                    <h4>Quick Add</h4>
                </div>
                <form action="" class="register-form" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.csrf_token }}
                    {{ form.name }}
                    {% if form.errors %}
                    {{ form.errors }}
                    {% endif %}
                    <div class="row">
                        <div class="col-2">
                            <label for="name">Date</label>
                            <!-- PK -->
                            <input type="date" id="inputdate" name="inputdate">
                          </div>
                        <div class="col-2">
                          <label for="name">Type</label>
                          <input list="mealType" name="meal_category" placeholder="When?" id="meal_category">
                            <datalist id="mealType">
                                <option value="Breakfast">
                                <option value="Lunch">
                                <option value="Dinner">
                                <option value="Snacks">
                            </datalist>
                        </div>
                        <div class="col">
                          <label for="name">Food</label>
                          <input type="text" placeholder="What?" id="foodName" name="food_desc">
                          <input type="hidden" id="foodNameId" name="foodNameId">
                        </div>
                        <div class="col-2">
                            <label for="name">Servings</label>
                            <input type="number" min="0" max="20" placeholder="How much?" id="servings_count" name="servings_count">
                          </div>
                            </div>
                            <button type="submit" class="register-btn">Add</button>
                </form>
            </div>
        </div>  
        <div class="row-sm">
            <div class="register-text">
                <div class="section-title">
                    <h4>Last 5 entries</h4>

                    <table class="table table-dark" id="diary-table">


                        <thead>                  
                            <tr>
                              <th scope="col"></th> </th>
                              <th scope="col">Date</th>
                              <th scope="col">Meal Type</th>
                              <th scope="col">Food</th>
                              <th scope="col">Servings</th>
                              <!-- <th scope="col">Calories (kcal)</th>                       -->
                            </tr>
                        </thead>

                        <tbody>
                                {% for query_val in top5_entries %}
                                <tr>
                                    <th scope="row">{{loop.index}}</th>
                                    <td>{{ query_val.meal_date }}</td>
                                    <td>{{ query_val.type }}</td>
                                    <td>{{ query_val.meal_desc }}</td>
                                    <td>{{ query_val.amount |round | int }}</td>
                                </tr> 
                                {% endfor %}
                                                       
                        </tbody>
                      
                  
                      
                    </table>
                </div>
            </div>
        </div> 
        

            
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( "#foodName" ).autocomplete({
        source: function (request, response) {
        $.getJSON("/nutriquicksearch?term=" + request.term, function (data) {
            
            response(
                $.map(data.data, function (key) {
                return {
                    label: key[1] + ' ['+key[2]+' kcal]',
                    value: key[0]
                };
            }));
        });
    },

        select( event, ui ){
        $('#foodNameId').val(ui.item.value);
        $('#foodName').val(ui.item.label);
        return false;
    },

      minLength: 2,

    } );

   
 
</script>


  

  {% endblock %}
